<%= form_for(@arena_card_deck, :html => { :class => 'form-horizontal', :role => 'form' }) do |f| %>
  <% if @arena_card_deck.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @arena_card_deck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-bottom: 10px"">
    <%= f.collection_select :hero_id, @heroes, :id, :display_name, { :selected => @arena_card_deck.hero_id } %>
  </div>

  <div class="actions" style="margin-bottom: 10px">
    <%= f.submit %>
  </div>
<% end %>
