<p id="notice"><%= notice %></p>

<h2><%= @arena_card_deck.hero.display_name %></h2>

<%= link_to 'Edit', edit_arena_card_deck_path(@arena_card_deck) %> |
<%= link_to 'Back', arena_card_decks_path %>
